@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  font-weight: $font-weight-bold;
  padding: $button-padding-block $button-padding-inline;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: $color-accent-400;
    color: $color-primary-800;

  }

  &[data-type="outline"] {
    background: transparent;
    outline: $outline-size solid $color-neutral-100;
    outline-offset: calc($outline-size * -1);
    color: $color-neutral-100;
  }

  &:is(:hover, :focus) {
    background-color: $color-neutral-100;
    color: $color-primary-800;
  }
}
